.listCard {
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 0 0 0.5rem 0;
  padding: 1rem 1rem;
  width: 100%;
  cursor: pointer;
}

.panelCard {
  vertical-align: top;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 0 0 0.5rem 0;
  padding: 1rem 1rem;
  width: 48%;
  overflow: hidden;
  height: auto;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
}

.panelCard img {
  max-height: 350px;
  width: 100%;
}

.panelCard:hover,
listCard:hover {
  background-color: #f1f3f5;
}

.timestamp {
  color: #8b8b8b;
  font-size: 0.8rem;
}

.articleImage {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  overflow: hidden;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  /* background-image: url("../../public/images/img_placeholder.png");
  background-size: 80%;
  background-position: center; */
}

.articleImage img {
  display: block;
}

.invisibleLink {
  color: inherit;
  text-decoration: none;
}

.image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.content {
  display: inline-block;
  width: 100%;
}

.card p {
  margin-bottom: 0;
}

.listCard h1,
.listCard h2,
.listCard h3,
.listCard h4 {
  margin: 0;
  padding: 0rem;
  color: #446;
}

.authors {
  color: #8b8b8b;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  float: right;
}
