.card {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 0 0 0.5rem 0;
  padding: 1rem 1rem;
}

.card:hover {
  background-color: #f1f3f5;
}

.timestamp {
  color: #8b8b8b;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.articleImage {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  overflow: hidden;
  display: inline-block;
  display: flex;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}
.articleImage img {
  display: block;
  height: 100%;
}

.invisibleLink {
  color: inherit;
  text-decoration: none;
}

.image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.content {
  display: inline-block;
}


.card p {
  margin-bottom: 0;
}

.card h1, h2, h3, h4 {
  margin: 0;
  padding: 0rem;
  color: #446;
}

.authors {
  color: #8b8b8b;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  float: right;
}