.listView {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;
    width: 100%;
}

/* .listView .articleImage {
    display: none;
    /* max-height: 120px;
    max-width: 30%;
    margin-right: 1rem;
    max-width: 150px;
    max-height: 150px;
} */

.listView > div {
    /* display: flex;
    gap: 15px; */
}

.listView > div img {
    /* max-height: 150px; */
}

.panelsView {
    display: flex;
    gap: 15px;
    flex-flow: column wrap;
    flex-direction: row;
    width: 100%;
}
