.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #52aeff;
  background: linear-gradient(0deg, #243538, #47767a);
  box-sizing: border-box;
  padding: 0 10%;
  border-radius: 6px;
  box-shadow: 3px 10px 8px 0px rgb(0 0 0 / 20%);
}

.logo {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

.logoImg {
  width: 250px;
  vertical-align: middle;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #d7e8ff;
  cursor: pointer;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #d7e8ff;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.invisibleLink {
  color: inherit;
  text-decoration: none;
}

.about {
  text-align: center;
  width: 40px;
  border: 5px solid #ffffffc8;
  border-radius: 9px;
  box-shadow: 4px 7px 10px 0px #000000a1, inset 2px 3px 10px #000000b5;
  animation-name: lightDown;
  animation-duration: 0.3s;
}

@keyframes lightUp {
  from {background-color: inherit;}
  to {background-color: #eee;}
}

@keyframes lightDown {
  from {background-color: #eee;}
  to {background-color: inherit;}
}

.about:hover {
  color: black;
  border: 5px solid #ffffff;
  animation-name: lightUp;
  animation-duration: 0.3s;
  background: #eee;
}