@keyframes lightUp {
  from {
    background-color: inherit;
  }
  to {
    background-color: #eee;
  }
}

@keyframes lightDown {
  from {
    background-color: #eee;
  }
  to {
    background-color: inherit;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(0deg, #243538, #47767a);
    box-sizing: border-box;
    padding: 0 5% 0 10%;
    border-radius: 6px;
    box-shadow: 3px 10px 8px 0px rgb(0 0 0 / 20%);
  }
  
  .header li {
    margin-left: 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #d7e8ff;
    cursor: pointer;
  }

  .header.menu {
    display: none;
  }

}

@media only screen and (max-width: 1023px) {
  .header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(0deg, #243538, #47767a);
    box-sizing: border-box;
    padding: 0 5% 0 10%;
    border-radius: 6px;
    box-shadow: 3px 10px 8px 0px rgb(0 0 0 / 20%);
  }
  
  .header li {
    margin-left: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #d7e8ff;
    cursor: pointer;
  }

  .menu {
    text-align: center;
    width: 40px;
    border: 5px solid #7e8c8933;
    border-radius: 9px;
    box-shadow: 4px 7px 10px 0px #00000070, inset 2px 3px 10px #0000007d;
    animation-name: lightDown;
    animation-duration: 0.3s;
  }

  .menu > div {
    background: url('../../public/images/hamburger.jpg') no-repeat 0 0;
    background-size: 80%;
    background-position: center;
  }
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.logo {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

.logoImg {
  width: 250px;
  vertical-align: middle;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #d7e8ff;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.invisibleLink {
  color: inherit;
  text-decoration: none;
}

.about,
.changeView {
  text-align: center;
  width: 40px;
  border: 5px solid #7e8c8933;
  border-radius: 9px;
  box-shadow: 4px 7px 10px 0px #00000070, inset 2px 3px 10px #0000007d;
  animation-name: lightDown;
  animation-duration: 0.3s;
}

.about:hover,
.changeView:hover,
.menu:hover {
  color: black;
  border: 5px solid #ffffff;
  animation-name: lightUp;
  animation-duration: 0.3s;
  background: #eee;
}

.changeView > div {
  background: url('../../public/images/eye2.png') no-repeat 0 0;
  background-size: 80%;
  filter: invert(100%); /* invert black color */
  background-position: center;
}

.changeView > div:hover {
  filter: inherit;
}
